@model DIYComputer.Entity.ComputerWareEntity.Display
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_IMLayout.cshtml";
}
<h2>Edit</h2>
<h4>Display</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DisplaySize" class="control-label"></label>
                <input asp-for="DisplaySize" class="form-control" />
                <span asp-validation-for="DisplaySize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayInputType" class="control-label"></label>
                <select asp-for="DisplayInputTypes" multiple="multiple" class="form-control chosen-select-no-results" asp-items="ViewBag.EnumDisplayInputType"></select>
                <span asp-validation-for="DisplayInputType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayOtherFunction" class="control-label"></label>
                <select asp-for="DisplayOtherFunctions" multiple="multiple" class="form-control chosen-select-no-results" asp-items="ViewBag.EnumDisplayOtherFunction"></select>
                <span asp-validation-for="DisplayOtherFunction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayUseWay" class="control-label"></label>
                <input asp-for="DisplayUseWay" class="form-control" />
                <span asp-validation-for="DisplayUseWay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayColor" class="control-label"></label>
                <select asp-for="DisplayColors" multiple="multiple" class="form-control chosen-select-no-results" asp-items="ViewBag.EnumDisplayOtherFunction"></select>
                <span asp-validation-for="DisplayColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayBackLED" class="control-label"></label>
                <input asp-for="DisplayBackLED" class="form-control" />
                <span asp-validation-for="DisplayBackLED" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayBoard" class="control-label"></label>
                <input asp-for="DisplayBoard" class="form-control" />
                <span asp-validation-for="DisplayBoard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayVisualAngle" class="control-label"></label>
                <input asp-for="DisplayVisualAngle" class="form-control" />
                <span asp-validation-for="DisplayVisualAngle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayLuminance" class="control-label"></label>
                <input asp-for="DisplayLuminance" class="form-control" />
                <span asp-validation-for="DisplayLuminance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayDpi" class="control-label"></label>
                <input asp-for="DisplayDpi" class="form-control" />
                <span asp-validation-for="DisplayDpi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayDotPitch" class="control-label"></label>
                <input asp-for="DisplayDotPitch" class="form-control" />
                <span asp-validation-for="DisplayDotPitch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayRatio" class="control-label"></label>
                <input asp-for="DisplayRatio" class="form-control" />
                <span asp-validation-for="DisplayRatio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>

            @await Component.InvokeAsync("FileUp")
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/chosen/docsupport/jquery-3.2.1.min.js"></script>
<script src="~/chosen/chosen.jquery.min.js"></script>
<script src="~/chosen/docsupport/prism.js"></script>
<script src="~/chosen/docsupport/init.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
