@using DIYComputer.Config.StaticSource
@model DIYComputer.Entity.SysEntity.MenuNode
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_IMLayout.cshtml";

}

<h2>Create</h2>

<h4>MenuNode</h4>
<hr />
<div class="row ">
     
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ParentNodeId" class="control-label"></label>
                <select asp-for="ParentNodeId" class="form-control" asp-items="ViewBag.ParentNodeId"></select>


            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Controller" class="control-label"></label>
                <input asp-for="Controller" class="form-control" />
                <span asp-validation-for="Controller" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Action" class="control-label"></label>
                <select asp-for="Action" class="form-control select2-dropdown " asp-items=@Html.GetEnumSelectList(typeof(ActionEnum))></select>
                <span asp-validation-for="Action" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
